@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2rem] leading-[38.73px] font-black lg:text-[3rem]
  }

  h2 {
    @apply text-[1.5rem] leading-[32px] lg:text-[2rem]
  }

  h3 {
    @apply text-lg font-bold
  }

  section {
    @apply mb-[12rem]
  }
}

@layer components {
  .menu-item {
    @apply text-center text-xl font-black py-[2rem] text-white
  }

  .project-section-item {
    @apply p-[1rem] bg-black text-white mb-[0.5rem] rounded-md
  }

  .apply-grid {
    @apply md:text-right md:grid md:grid-cols-12 md:gap-[1.5rem]
  }

  strong {
    @apply font-semibold
  }
}