@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2rem] leading-[38.73px] font-black lg:text-[3rem] lg:leading-[58px]
  }

  h2 {
    @apply text-[1.5rem] leading-[32px] lg:leading-[36px]
  }

  h3 {
    @apply text-lg font-bold
  }

  section {
    @apply mb-[12rem]
  }

  *::-webkit-scrollbar {
    display: none;
    box-shadow: inset 0 0 20px 20px transparent;
    border: solid 3px transparent;
  }

  div::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    box-shadow: inset 0 0 20px 20px #dcdcdc;
    border: solid 6px transparent;
  }

  *::-webkit-scrollbar-track-piece
  {
    display:none;
  }
}

@layer components {
  .menu-item {
    @apply text-center text-xl font-black py-[2rem] text-white
  }

  .project-section-item {
    @apply p-[1rem] bg-black text-white mb-[0.5rem] rounded-md
  }

  .apply-grid {
    @apply md:text-right md:grid md:grid-cols-12 md:gap-[1.5rem]
  }

  strong {
    @apply font-semibold
  }
}